@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Bitter);
/* CSS Document */

html {
	background: none repeat scroll 0% 0% !important;
}

body {
	font-family: "Noto Serif", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	background-color: #dae8b4;
	background-image: url("../images/bg/body-bg.png");
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bitter", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

ul, li {
	list-style-type: none;
}

.justify {
	text-align: justify;
}

/* ~~HEADER~~ */
	
	.top {
		background-color: #c7d69f;
		background-image: url("../images/bg/body-bg.png");
	}

	#logo {
		margin-left:auto;
		margin-right:auto;
		max-width: 240px;
		width: 100%;
		padding: 10px 0px;
		float:left;
	}

	#getstarted {
		margin-left:auto;
		margin-right:auto;
		max-width: 300px;
		width: 100%;
		margin-top: 25px;
		padding-bottom: 20px;
		float:right;
	}

	#getstarted h5 {
		text-align: center;
		color: #FBFEDA;
		margin-bottom:-20px;
	}

	#getstarted img {
		padding-top:15px;
	}

	.callnow {
		visibility: hidden;
		height:0px;
	}

/* ~~MAIN MENU~~ */
	
	.sm-clean {
	    border-radius: 0;
	    background: none;
	    margin-left:auto;
	    margin-right:auto;
	    width:500px;
	}

	.sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active,
	.sm-clean a.highlighted {
		color: #a39b00;
	}

	.white {
		height:auto;
		background-color: #FBFEDA;
	}

	.sub-menu li a {
		font-size: 10pt !important;
	}

	.sm-clean a {
	    font-size:10pt;
	}

	a:hover {
		color:#000 !important;
	}

/* ~~MAIN CONTENT~~ */
	
	.container {
		background-color: #FBFEDA;
		background-image: url("../images/bg/container-bg.png");
		padding: 0 50px 0 50px;
		border-radius: 60px 60px 0 0;
		-webkit-box-shadow: 1px 4px 12px -6px #000;
		-moz-box-shadow: 1px 4px 12px -6px #000;
		box-shadow: 1px 4px 12px -6px #000;
	}

	#before-semi {
		margin-top:-60px;
		text-align: center;
		display: block;
		position: relative;
		top: 84px;
	}


	iframe, object, embed {
	    max-width: 100%;
	}

	.flex-video {
		z-index: 1;
	}

	.threecta {
		padding-bottom: 40px;
		padding-top: 50px;
	}

	.bg-off-section {
		background-color: #F5FFB1;
		margin: 0 -50px !important;
	}

	.bold-box {
		font-weight: bold;
		color: #0F2925;
		background-color: #b5b790;
		text-align: center;
		margin: 0px;
		padding: 10px 5px 10px 5px;
		width: 100%;
	}

	.img1 {
		border-radius: 40px 0 0 0;
	}

	.img2-1 {
		display: none;
	}

	.img3 {
		border-radius: 0 40px 0 0;
	}

	.fp-txt {
		margin: 0px !important;
		padding: 40px;
	}

	.stories-wrap {
		padding: 40px;
		margin: 0px -50px;
	}

	.stories {
		margin: 0px !important;
	}

	#staffpic {
		padding: 30px 0px;
	}

	.fp-desc {
		padding: 40px;
		background-color:#F5FFB1;
		background-image: url("../images/bg/container-bg.png");
		margin-left: -50px !important;
		margin-right: -50px !important;
		font-size:11pt;
	}
	
	#bottomofpage {
		padding: 40px;
		margin: 0px !important;
	}

	.testimonial-txt {
		font-size:10pt;
		font-style:italic;
		padding-top:30px;
	}

	.text {
		padding:0 40px;
	}
	
	#rate-a-biz-review-widget-wrapper .reviews-module .module-header .rateabiz-logo-container .logo {
		display: none !important;
	}

	.reviews #review-widget-container {
		width:400px !important;
		margin:0 auto !important;
	}

/* ~~FOOTER~~ */

	footer a, footer p {
		color:#vvv;
	    font-size: 10pt;
	}

	#social-media {
		text-align: center;
		padding:10px 0;
	}

/* ~~SERVICE PAGE~~ */

	.crown-pic {
		float:right;
	}

	.rest-container {
		padding-bottom: 40px;
	}

	.cosmetic-container {
		padding:40px 0;
	}

	#accordion {
		padding:40px 0 !important;
		margin-left: -40px;
		margin-right: -40px;
	}

	button {
		border-style: none !important;
	}

	.sr-txt {
		font-size: 11pt;
		height: auto !important;
	}

	.ui-accordion .ui-accordion-content {
    	padding: 20px 0 !important;
	}

	.container-implants p{
		text-align: justify;
	}

	.table-container {
		padding:20px 0;
	}

	.implants-vid {
		text-align: center;
		padding:20px 0;
	}

	.srvc-img {
		margin:0 auto;
		padding:20px 0;
	}

	.srvc-container h4 {
		text-align: left;
	}

	.srvc-container p {
		font-style:italic;
		padding:20px 0px;
		font-size:10pt;
	}

	.sr-imp {
		padding: 40px 0;
        z-index:99998 !important;
	}

	.sr-orth {
		padding:40px;
		background-color:#f5ffb1;
		margin-left: -50px !important;
		margin-right: -50px !important;
	}
	
	.sr-crwn {
		padding:40px;
		background-color:#f5ffb1;
		margin-left: -50px !important;
		margin-right: -50px !important;
	}

	.sr-prev {
		padding:40px 0;
	}

	.sr-cos {
		padding:40px 0;
	}

	#sr-empt-btn {
		background-color: #F5FFB1;
		color: black;
		width: 100%;
		border-radius: 10px;
		-moz-box-shadow:    2px 2px 3px #000;
	  	-webkit-box-shadow: 2px 2px 3px #000;
		box-shadow:         2px 2px 3px #000;
		padding: 10px;
		text-align: center;
	}

	#sr-empt-btn:hover {
		background-color:#f7ffc4;
	}

	#sr-fill-btn {
		background-color: #FBFEDA;
		color: black;
		width: 100%;
		border-radius: 10px;
		-moz-box-shadow:    2px 2px 3px #000;
	  	-webkit-box-shadow: 2px 2px 3px #000;
		box-shadow:         2px 2px 3px #000;
		margin:10px 0px;
		padding: 10px;
		text-align: center;
	}

	#sr-fill-btn:hover {
		background-color:#f7ffc4;
	}

	.orth-intro {
		padding:40px 0;
	}

/* ~~ABOUT US PAGE~~ */

	.aboutus-container {
		text-align: justify;
	}

	.whyus-bldng img {
		width:100%;
	}

	.popbox {
        display: none;
        position: absolute;
        z-index: 99999;
        width: 300px;
        padding: 10px;
        background: #EEEFEB;
        color: #000000;
        border: 1px solid #4D4F53;
        margin: 0px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
        box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1); 
    }

    .popbox p {
        text-align: justify;
        padding:5px;
    }

    .popbox h2 {
        background-color: #4D4F53;
        color:  #E3E5DD;
        font-size: 14px;
        display: block;
        width: 100%;
        margin: 0;
        padding: 5px 10px;
    }

/* ~~CONTACT PAGE~~ */

	.contact-page {
		padding-bottom:40px;
	}

	.contact-info {
		padding-top:40px;
	}

	.contact-info p {
		font-size: 10pt;
	}

	/* google maps */

	.Flexible-container {
	    position: relative;
	    padding-bottom:20%;
	    padding-top: 20px;
	    height: 0;
	    overflow: hidden;
	}

	.Flexible-container iframe,   
	.Flexible-container object,  
	.Flexible-container embed {
	    position: absolute;
	    height:100%;
	    left: 0;
	    width: 100%;
	}


/* ~~FORMS PAGE~~ */

	.success{
		background: #CFFFF5;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #B9ECCE;
		border-radius: 5px;
		font-weight: normal;
		line-height: normal;
	}
	.error{
		background: #FFDFDF;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #FFCACA;
		border-radius: 5px;
		font-weight: normal;
	}


	#ui-datepicker-div {
        z-index: 100 !important;
    }

	.radstyle {
		padding:20px;
	}

	.form-txt {
		text-align: center;
		font-size: 10pt;
		font-style:italic;
	}

	input[type="text"]:focus {
		border-color: #66AFE9 !important;
		box-shadow: 0px 0px 5px #a3cff2 !important;
	}

	#referral {
		float:right;
	}


/* Media Queries */

// Small screens 
@media only screen { } /* Define mobile styles */ 
@media only screen and (max-width: 400px) {

.contact-page {
	padding:0px 20px 40px 20px;
}

.container-form {
	padding:20px !important;
}

.top {
    background-color: #DAE8B4;
}

.Flexible-container {
    position: relative;
    padding-bottom:20%;
    padding-top: 20px;
    height: 300px;
    overflow: hidden;
}

.callnow {
	visibility: visible;
	height:auto;
	padding-bottom:20px;
}

.callnowh5 {
	visibility: hidden;
	height:0px;
}

.fp-desc {
    padding: 40px 0px;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */ 


// Medium screens 
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */ 
@media only screen and (max-width: 767px) {


#logo, #getstarted {
	float:none;
}

.bold-box {
	margin-bottom: 40px;
}

.img1 {
	padding-top: 20px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img2 {
    display: none;
}

.img2-1 {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img3 {
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.crown-pic {
	margin:0 auto;
	width:100%;
	float:none !important;
}

#staffpic {
	padding:0px;
}

.left-sm {
	float:left !important;
}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 


// Large screens 
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */ 
@media only screen and (min-width: 64.063em) and (max-width: 90em) {} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */ 

// XLarge screens 
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */ 
@media only screen and (min-width: 90.063em) and (max-width: 120em) {} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */ 


// XXLarge screens 
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */